@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <p>Utilize os botões de navegação para visualizar os clientes cadastrados.</p>
</div>
